
/*
*desktop
*/
.txt > h1 {
  font-size: 30px;
}


/*
*nav
*/
nav {
  background-color: #2F4F4F;
  color: #FFFFFF;
  height: 80px;
}

nav > ul {
  margin-left: 800px;
  list-style: none;
}

nav > ul > li > a {
  color: #FFFFFF;
  display: inline-block;
  float: left;
  font-size: 15px;
  margin-left: 30px;
  text-decoration: none;
}

.start {
  float: left;
  font-size: 20px;
  margin-left: 100px;
  padding-top: 20px;
}
.start > a {
  color: #FFFFFF;
  text-decoration: none;
}

/*
*header
*/
header {
  border: 1px solid #000;
  height: 600px;
}

.img {
  background-image: url("../assets/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 600px;
  margin-top: 0;
  text-align: center;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}

.txt-img {
  color: #FFFFFF;
  display: inline-block;
  filter: none;
  font-size: 30px;
  font-weight: 40px;
  padding: 250px;
  text-align: center;
}

/*
*main
*/
.one {
  height: auto;
}
.one > img{
  border-radius: 100%;
  float: right;
  height: 400px;
  margin-right: 10%;
  margin-top: 30px;
}
.one > .txt {
  float: left;
  font-size: 15px;
  margin-left: 10%;
  margin-top: -20%;
}

.three {
  height: auto;
}
.three > img {
  border-radius: 100%;
  float: right;
  height: 400px;
  margin-right: 10%;
  margin-top: -250px;
}
.three > .txt {
  float: left;
  font-size: 15px;
  margin-left: 10%;
  margin-top: 150px;
}

.two {
  height: auto;
}
.two > img {
  border-radius: 100%;
  float: left;
  height: 400px;
  margin-left: 100px;
  margin-top: 30px;
}
.two > .txt {
  float: right;
  font-size: 15px;
  margin-top: 150px;
}


/*
*footer
*/
footer {
  background-color: #2F4F4F;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  height: 80px;
  padding-top: 30px;
}
